/* 201802915 이상원 */

body {
  background-image: url(image/moviebg.png);
  margin: 0px;
  padding: 0px;
}
header {
  text-align: center;
  font-size: 24pt;
  font-family: "Times New Roman";
  text-shadow: 3px 3px 0px #999999;
}
footer {
  width: 55%;
  margin-top: 0.5em;
  margin-left: auto;
  margin-right: auto;
  background-color: #a2b964;
}

/* class */
.disflex {
  display: flex;
}
.bold {
  font-weight: bold;
}
.txtcenter {
  text-align: center;
}
q.comment {
  font-size: 13pt;
  font-family: Georgia;
}
img.comment {
  margin-right: 5px;
}

/* id */

article#banner {
  background-image: url(image/rancidbannerbg.png);
  height: 50px;
}
section#mainsection {
  flex-wrap: wrap;
  background-color: #eeeeee;
  width: 55%;
  margin: auto;
  box-shadow: 5px 5px 5px gray;
}
nav#comment {
  width: 90%;
  background-color: #ffffff;
  border: 2px solid;
  border-color: #cccccc;
  border-radius: 12px;
  margin: auto;
}
article#rating {
  width: 100%;
  height: 83px;
  margin-bottom: 1rem;
  background-image: url(image/rottenlargebg.png);
}
article#review {
  flex: 2;
}
nav#ratingtxt {
  font-size: 48pt;
  color: red;
}
div#commentmargin {
  margin: 1em;
}
nav#reviewer {
  width: 90%;
  margin: 5px auto;
  font-size: 13pt;
}
span#comp {
  font-style: italic;
}
div#information {
  margin-top: 15px;
  font-size: 12pt;
  font-family: Arial;
}

article#info {
  flex: 1;
  background-color: #a2b964;
}
img#poster {
  width: 100%;
}
div#validator {
  flex-wrap: wrap;
}
section#validator {
  margin-bottom: 5px;
}
img#vali {
  margin-left: 95%;
}
