.body {
  background-image: url(image/moviebg.png);
  display: block;
  margin: 0px;
  padding: 0px;
}
#bannernav {
  background-image: url(image/rancidbannerbg.png);
  height: 50px;
  margin: 0px;
  padding: 0px;
  text-align: center;
}
header {
  text-align: center;
  /* position: relative; */
  font-size: 24pt;
  font-weight: bold;
  font-family: Georgia;
  text-shadow: 3px 3px 0px #999999;
}
section#mainsection {
  display: flex;
  background-color: #eeeeee;
  /* position: relative; */
  width: 55%;
  height: 55%;
  margin: auto;
  /* text-align: center; */
  box-shadow: 5px 5px 5px gray;
}
div#overall {
}
img#review {
  z-index: 20;
}
img#reviewbg {
  width: 100%;
  z-index: 10;
  height: 50px;
}
